@import url('https://fonts.googleapis.com/css2?family=Inria+Serif:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    /* scroll bar is always present on the side, so it doesnt affect width and style of pages with/without overflow */
    overflow-y: scroll;
  }
  .app-body {
    @apply bg-main-bkg w-full h-screen bg-no-repeat bg-cover bg-bg-back-color;
    display: grid;
    place-items: center;
  }

  .app-body::after {
    content: "";
    background-color: black;
  }

  @media (max-width: 500px) {
    .app-body {
      display: block;
    }
  }

  .app-end {
    @apply bg-end-bkg w-[100%] h-screen bg-no-repeat bg-cover bg-bg-back-color;
  }
}

.map-container {
  height: 200px;
}
